test-is {
  sass_value_is_null: true;
  sass_value_is_number: false;
  sass_value_is_string: false;
  sass_value_is_boolean: false;
  sass_value_is_color: false;
  sass_value_is_list: false;
  sass_value_is_map: false;
  sass_value_is_error: false;
  sass_value_is_warning: false;
  sass_value_is_null: false;
  sass_value_is_number: false;
  sass_value_is_string: false;
  sass_value_is_boolean: false;
  sass_value_is_color: false;
  sass_value_is_list: true;
  sass_value_is_map: false;
  sass_value_is_error: false;
  sass_value_is_warning: false;
  sass_value_is_null: false;
  sass_value_is_number: false;
  sass_value_is_string: false;
  sass_value_is_boolean: false;
  sass_value_is_color: false;
  sass_value_is_list: false;
  sass_value_is_map: true;
  sass_value_is_error: false;
  sass_value_is_warning: false;
  sass_value_is_null: false;
  sass_value_is_number: true;
  sass_value_is_string: false;
  sass_value_is_boolean: false;
  sass_value_is_color: false;
  sass_value_is_list: false;
  sass_value_is_map: false;
  sass_value_is_error: false;
  sass_value_is_warning: false;
  sass_value_is_null: false;
  sass_value_is_number: true;
  sass_value_is_string: false;
  sass_value_is_boolean: false;
  sass_value_is_color: false;
  sass_value_is_list: false;
  sass_value_is_map: false;
  sass_value_is_error: false;
  sass_value_is_warning: false;
  sass_value_is_null: false;
  sass_value_is_number: false;
  sass_value_is_string: true;
  sass_value_is_boolean: false;
  sass_value_is_color: false;
  sass_value_is_list: false;
  sass_value_is_map: false;
  sass_value_is_error: false;
  sass_value_is_warning: false;
  sass_value_is_null: false;
  sass_value_is_number: false;
  sass_value_is_string: true;
  sass_value_is_boolean: false;
  sass_value_is_color: false;
  sass_value_is_list: false;
  sass_value_is_map: false;
  sass_value_is_error: false;
  sass_value_is_warning: false; }

numbers {
  number-get-unit: px;
  number-get-value: 42;
  number-get-unit: rad;
  number-get-value: 3.14;
  nr: 3.14rad; }

string {
  quoted: false;
  literal: literal;
  quoted: false;
  literal: another;
  quoted: true;
  qstring: quoted;
  quoted: true;
  qstring: another;
  literal: another;
  qstring: another; }

colors {
  color-get-r: 10;
  color-get-g: 20;
  color-get-b: 30;
  color-get-a: 0.6;
  color-get-r: 16;
  color-get-g: 32;
  color-get-b: 64;
  color-get-a: 0.9;
  color: rgba(16, 32, 64, 0.9); }

bools {
  bool: true;
  bool: false;
  bool: true;
  bool: true; }

lists {
  length: 3;
  item-1: a;
  item-2: b;
  item-3: c;
  item-2: new;
  sep-space: 1;
  sep-comma: 0;
  space: a b c;
  comma: a, new, c; }

maps {
  length: 2;
  key-1: a;
  item-1: a;
  key-2: b;
  item-2: b;
  key-2: new;
  item-2: new;
  map: (a: a, new: new); }

stringify {
  tst-01: 42px;
  tst-02: 42px;
  tst-02: 42px;
  tst-02: 1px;
  tst-02: yellow; }

ops {
  op-01: ab;
  op-02: 2;
  op-03: 4-red;
  op-04: #0000fd;
  op-05: white;
  op-06: blueyellow;
  op-07: 8;
  op-08: 1.8px;
  op-09: 5.45455px;
  op-10: false;
  op-11: false;
  op-12: false;
  op-13: true;
  op-14: true;
  op-15: false;
  op-16: false;
  op-17: 9; }

warn {
  last-warn: warn; }

debug {
  last-debug: debug; }

error {
  last-error: error; }
