$nr: 42px;

numbers {

  number-get-unit: sass_number_get_unit($nr);
  number-get-value: sass_number_get_value($nr);

  $nr: sass_number_set_unit($nr, "ms*rad/s");
  $nr: sass_number_set_value($nr, 3.14);

  number-get-unit: sass_number_get_unit($nr);
  number-get-value: sass_number_get_value($nr);

  $nr: sass_number_reduce($nr);

  number-get-unit: sass_number_get_unit($nr);
  number-get-value: sass_number_get_value($nr);

  $nr: sass_number_normalize($nr);

  number-get-unit: sass_number_get_unit($nr);
  number-get-value: sass_number_get_value($nr);
  
  // nr: $nr;

}